*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera{
    display: inline-block;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
}

.logo{
    font-family: Arial;
    font-size: 1.2em;
    font-weight: 200;
    margin: 10px 90px;
    display: inline-block;
}

.buscar{
    width: 21%;
    height: 25px;
    margin: 5px 11%;
    padding: 2px 5px;
    display: inline-block;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
    background-color: rgb(237, 237, 237);
}

body{
    background-color: rgb(212, 212, 212);
    
}


.menu_lateral{
    position:absolute;
    top: 0%;
    width: 5%;
    height: 626px;
    border: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
}

.list_ur{
    display: none;
}

.g{
    display: inline-flex;
}

.g ul li{
    text-decoration: none;
    list-style: none;
    font-family: Calibri;
    margin-left: 270px;
    font-size: 1.2em;
}

.elementos ul li i{
    color: rgb(74, 74, 155);
    font-size: 20px;
}

.elementos ul li{
    margin: 50px auto;
    list-style: none;
}

.elementos ul{
    margin-left: 22px;
}

.tabla{
    margin: 60px auto;
    width: 70%;
    height: 420px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    padding-top: 19px;
    padding-left: 18px;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
}

.consulta{
    display: flex;
}

.tabla p{
    margin-top: 50px;
    display: inline-flex;
    margin-bottom: 15px;
}

.tabla button{
    padding: 5px;
    height: 30px;
    color: white;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 3px;
    background-color: rgb(32, 32, 81);
    position: relative;
    left: 72%;
    padding-bottom: 15px;
}

.table{
    background-color: rgba(203, 203, 203, 0.847);
}